<div *ngIf="showTroquel">
  <div class="row">
    <div class="col-12 text-right">
      <button
        pButton
        type="button"
        label="{{
          (troquelFormCall.controls.length == 0
            ? 'troquel.lblAddItemPrimary'
            : 'troquel.lblAddItem'
          ) | translate
        }}"
        class="button button-primary filter mr-1"
        style="margin-top: 20px;"
        icon="fas fa-plus"
        *ngIf="btnDisplaying"
        (click)="btnAddTroquel()"
        [disable]="details"
      ></button>
    </div>
  </div>
  <div *ngIf="troquelFormCall.controls.length == 0 ? false : true">
    <form class="mt-16" #mydiv [formGroup]="troquelDataForm">
      <p-accordion>
        <p-accordionTab
          header="{{ 'troquel.title' | translate }}"
          [selected]="false"
          [formStatus]="true"
          [imagenIcon]="formTroquelIconStatus"
          statusFormText="{{ formStatusText }}"
        >
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <p-table-finotex
                  #tablaFinotex
                  class="f-table"
                  [value]="troquelFormCall.controls"
                  dataKey="id"
                  [expandedRowKeys]="expandedRows"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        style="width: 3rem;"
                        class="thead-width"
                        *ngIf="showExpand"
                      ></th>
                      <th class="thead-width">
                        <label>
                          {{ 'troquel.dieId' | translate }}
                        </label>
                      </th>
                      <th class="thead-width" *ngIf="showComponents">
                        <label>
                          {{ 'troquel.paperWidth' | translate }}
                        </label>
                      </th>
                      <th class="thead-width" *ngIf="showComponents">
                        <label>
                          {{ 'troquel.labelsAcross' | translate }}
                        </label>
                      </th>
                      <th class="thead-width" *ngIf="showComponents">
                        <label>
                          {{ 'troquel.labelsAround' | translate }}
                        </label>
                      </th>
                      <th style="width: 90px;">
                        <label>
                          {{ 'troquel.lblActions' | translate }}
                        </label>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    formArrayName="header"
                    let-rowIndex="rowIndex"
                    pTemplate="body"
                    let-troquelDatas
                    let-expanded="expanded"
                  >
                    <tr [formGroupName]="rowIndex">
                      <td *ngIf="showExpand">
                        <span
                          type="button"
                          pButton
                          pRipple
                          (click)="
                            onItemClick(troquelDatas.value, tablaFinotex)
                          "
                          class="p-button-text p-button-rounded p-button-plain"
                          [icon]="
                            expanded
                              ? 'pi pi-chevron-down'
                              : 'pi pi-chevron-right'
                          "
                        ></span>
                      </td>
                      <td>
                        <div
                          [ngStyle]="{
                            'max-width': showExpand ? 'initial' : '300px'
                          }"
                        >
                          <p-dropdown
                            [filter]="true"
                            filterBy=""
                            [appendTo]="mydiv"
                            formControlName="listTroquel"
                            [options]="listTroquels"
                            optionLabel="dieCode"
                            optionValue="dieId"
                            placeholder="{{
                              ('troquel.inputPlaceHolder' | translate) || ' '
                            }}"
                            (onChange)="
                              selectDie($event, listTroquels, rowIndex)
                            "
                          ></p-dropdown>
                        </div>
                      </td>
                      <td *ngIf="showComponents">
                        <input
                          type="text"
                          (keypress)="onKeyPressNumberDecimal($event)"
                          formControlName="paperWidth"
                          pInputText
                          class="form-control"
                          maxlength="10"
                          disabled="true"
                        />
                      </td>
                      <td *ngIf="showComponents">
                        <input
                          type="text"
                          (keypress)="onKeyPressNumberDecimal($event)"
                          formControlName="labelsAcross"
                          pInputText
                          class="form-control"
                          maxlength="10"
                          disabled="true"
                        />
                      </td>
                      <td *ngIf="showComponents">
                        <input
                          type="text"
                          (keypress)="onKeyPressNumberDecimal($event)"
                          formControlName="labelsAround"
                          pInputText
                          class="form-control"
                          maxlength="10"
                          disabled="true"
                        />
                      </td>
                      <td style="text-align: center;">
                        <app-button-icon-cart-finotex
                          label=""
                          icon="fas fa-trash-alt"
                          type="button"
                          typeButton="secondary"
                          [typeSize]="false"
                          pTooltip="{{ 'troquel.lblDelete' | translate }}"
                          (click)="removeItem(rowIndex)"
                        ></app-button-icon-cart-finotex>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template
                    formArrayName="header"
                    let-rowIndex="rowIndex"
                    pTemplate="rowexpansion"
                    let-materials
                  >
                    <tr [formGroupName]="rowIndex">
                      <td colspan="5">
                        <div class="row indent-space">
                          <div
                            class="col-12 col-md-3 mt-2"
                            *ngIf="showComponents"
                          >
                            <label>
                              {{ 'troquel.cornerRadius' | translate }}
                            </label>
                            <input
                              type="text"
                              formControlName="cornerRadius"
                              pInputText
                              class="form-control"
                              maxlength="15"
                              disabled="true"
                            />
                          </div>
                          <div
                            class="col-12 col-md-4 col-lg-3 mt-2"
                            *ngIf="showComponents"
                          >
                            <label>
                              {{ 'troquel.imperialPerforation' | translate }}
                            </label>
                            <input
                              type="text"
                              formControlName="imperialPerforation"
                              pInputText
                              class="form-control"
                              maxlength="15"
                              disabled="true"
                            />
                          </div>
                          <div
                            class="col-12 col-md-3 mt-2"
                            style="margin-left: 1em;"
                            *ngIf="showComponents"
                          >
                            <label class="lblBlock">
                              {{ 'troquel.mainDie' | translate }}
                            </label>
                            <input
                              type="checkbox"
                              class="pi p-checkbox"
                              formControlName="mainDie"
                              name="mainDie"
                              id="mainDie"
                              (change)="handleChange($event, rowIndex)"
                            />
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table-finotex>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </form>
  </div>
</div>
