<p-accordion>
    <p-accordionTab 
        header="{{ 'pqrs.edit-pqrs-tab-detail-request' | translate }}" 
        [selected]="true">

        <ng-template pTemplate="content">
          <div class="row">
            <div class="col-12 d-flex justify-content-sm-end">
              <app-button-icon-finotex
                *ngIf="!isReadOnlyComponent"
                icon="fas fa-plus"
                label="{{ 'pqrs.detail-request-add-article' | translate }}"
                type="button"
                typeButton="primary"
                [typeSize]="false"
                (click)="openModalAddArticle()">
              </app-button-icon-finotex>
            </div>

            <div class="w-100">
              <form class="mt-16" [formGroup]="detailPqrsDataForm">      
                <div class="row">
                  <div class="table-responsive mb-5">
                    <p-table-finotex                     
                      #tablaFinotex
                      [scrollable]="false"           
                      [autoLayout]="false"                    
                      [tableStyle]="{'table-layout': 'auto'}"
                      class="f-table"
                      [value]="detailPqrsFormCall.controls"
                      dataKey="id"
                      sortable-table           
                      [expandedRowKeys]="expandedRows"          
                      [lazy]="true"                      
                      sortable-table 
                      (sorted)="onSorted($event)">
                      
                             
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 50px" class="column-row"></th>
                          <th>
                            <label sortable-column="creditNote">{{ "pqrs.detail-request-column-credit-note" | translate }}</label>
                          </th>
                          <th>
                            <label sortable-column="productId">{{ "pqrs.detail-request-column-code-article" | translate }}</label>
                          </th>
                          <th>
                            <label sortable-column="description">{{ "pqrs.detail-request-column-description" | translate }}</label>
                          </th>
                          <th>
                            <label sortable-column="sizes">{{ "pqrs.detail-request-column-size" | translate }}</label>
                          </th>
                          <th class="text-center" *ngIf="!isReadOnlyComponent">
                            <label>{{ 'product-brand.lblActions' | translate }}</label>
                          </th>
                        </tr>
                        <tr id="rowNoDataFolder" class="rowNoData" *ngIf="isNoData">
                          <td colspan="50" class="text-center bg-white p-0" >
                            <img  
                              class="simple-img img-not-data"
                              src="../../../../assets/images/folder-open.svg" 
                              alt="profile" />                  

                            <div class="mb-16"><label class="text-no-data">{{ 'general.noData' | translate  }}</label></div>
                          </td>
                        </tr>
                      </ng-template>       
                      
                      <ng-template 
                        pTemplate="body"
                        formArrayName="header"
                        let-rowIndex="rowIndex"
                        let-detailPqrs
                        let-expanded="expanded">
                                  
                        <tr  *ngIf="!detailPqrs.controls.isDelete.value" class="rows">
                          <td class="text-center">
                            <span
                              #btn
                              id="Btnunfold{{rowIndex}} "
                              type="button"
                              pButton
                              pRipple
                              (click)="onItemClick(detailPqrs.value, tablaFinotex)"
                              class="p-button-text p-button-rounded p-button-plain"
                              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                            </span>                      
                          </td>
                                                       
                          <td>{{detailPqrs.value.creditNote}}</td>  
                          <td>{{detailPqrs.value.productId}}</td>  
                          <td>{{detailPqrs.value.description}}</td>  
                          <td>{{detailPqrs.value.sizes}}</td>                          
                                                                     

                          <td class="text-center" *ngIf="!isReadOnlyComponent">
                            <button                                                                                                                                          
                              pButton 
                              pRipple
                              type="button"                              
                              icon="fas fa-trash-alt"
                              aria-hidden="true"
                              class="p-button-rounded p-button-text p-button-reset"
                              pTooltip="{{ 'product-brand-purchase.lblDelete' | translate }}"
                              tooltipPosition="top"
                              (click)="deleteArticle(detailPqrs,rowIndex)">
                            </button>                                                                                   
                          </td>
                        </tr>
                      </ng-template>
                      
                      <ng-template 
                        formArrayName="header"
                        let-rowIndex="rowIndex"
                        pTemplate="rowexpansion"
                        let-data>
                                  
                        <tr [formGroupName]="rowIndex">
                          <td colspan="7">
                            <div class="row">
                      
                              <div class="col-12 col-md-3 mt-4 mb-4">
                                <label>{{ "pqrs.detail-request-column-graphic-file" | translate }}</label>
                                <input
                                  [readonly]="true"
                                  type="text"                                
                                  pInputText
                                  class="form-control"                                
                                  formControlName="graphicFile"/>
                              </div>                                                            

                              <div class="col-12 col-md-3 mt-4 mb-4">
                                <label class="label-required">{{ "pqrs.detail-request-column-quantity" | translate }}</label>
                                <app-currency-input
                                  locale="en-US"
                                  mode="decimal"
                                  format="true"
                                  [minFractionDigits]="5"
                                  formControlName="quantity"      
                                  (onBlur)="changeQuantityAndPrice(data,true)">
                                </app-currency-input>                                
                              </div>

                              <div class="col-12 col-md-3 mt-4 mb-4">
                                <label>{{ "pqrs.detail-request-column-unit-measurement" | translate }}</label>
                                <input
                                  [readonly]="true"
                                  type="text"                                
                                  pInputText
                                  class="form-control"                                
                                  formControlName="unitMeasure"/>
                              </div>                             
                                        
                              <div class="col-12 col-md-3 mt-4 mb-4">
                                <label [ngClass]="(requestTypeId != 2) ? '' : 'label-required'">
                                  {{ "pqrs.detail-request-column-unit-price" | translate }}
                                </label>
                                <!-- <input 
                                  [readonly]="requestTypeId != 2 ? true : false"                                   
                                  type="number"  
                                  pInputText
                                  class="form-control"
                                  min="0"
                                  (change)="changeQuantityAndPrice(data)"             
                                  formControlName="salePrice"/> -->

                                <app-currency-input
                                  [readonly]="requestTypeId != 2 ? true : false"                                   
                                  locale="en-US"
                                  mode="decimal"
                                  format="true"
                                  [minFractionDigits]="5"
                                  formControlName="salePrice"      
                                  (onBlur)="changeQuantityAndPrice(data,false)">
                                </app-currency-input>
                              </div>

                              <div class="col-12 col-md-3 mb-4">
                                <label>{{ "pqrs.detail-request-column-sale-unit" | translate }}</label>
                                <input
                                  [readonly]="true"
                                  type="text"                                
                                  pInputText
                                  class="form-control"                                
                                  formControlName="salesUnit"/>
                              </div>
                      
                              <div class="col-12 col-md-3 mb-4">
                                <label>{{ "pqrs.detail-request-column-total" | translate }}</label>
                                <app-currency-input
                                  [readonly]="true"
                                  locale="en-US"
                                  mode="decimal"
                                  format="true"
                                  [minFractionDigits]="5"
                                  formControlName="total">
                                </app-currency-input>                                
                              </div>

                              <div class="col-12 col-md-3 mb-4">
                                <label>{{ "pqrs.detail-request-column-relationship-invoice" | translate }}</label>
                                <em class="fas fa-info-circle" pTooltip="{{ 'pqrs.detail-request-column-relationship-invoice-toltip' | translate }}"></em>

                                <div class="d-flex">
                                  <div class="d-flex align-items-center">
                                    <p-checkbox
                                      formControlName="lastInvoiceYes"
                                      [styleBox]="{'border-radius': '20px'}"                                      
                                      (onChange)="changeYes(data)" 
                                      [binary]="true">
                                    </p-checkbox>
                                    <span class="ml-1">{{ "pqrs.detail-request-column-relationship-invoice-yes" | translate }}</span>
                                  </div>
                                    
                                  <div class="d-flex align-items-center ml-3">
                                    <p-checkbox
                                      formControlName="lastInvoiceNo"
                                      [styleBox]="{'border-radius': '20px'}"
                                      (onChange)="changeNo(data)" 
                                      [binary]="true">
                                    </p-checkbox>
                                    <span class="ml-1">{{ "pqrs.detail-request-column-relationship-invoice-no" | translate }}</span>
                                  </div>
                                </div>
                                
                              </div>
                              
                              <div class="d-flex flex-column col-12 col-md-3 mb-4">
                                <label>{{ "pqrs.detail-request-column-bill" | translate }}</label>                                                                                              
                                <p-dropdown
                                  appendTo="body"  
                                  [filter]="false" 
                                  [options]="bill" 
                                  optionValue="billTypeId"
                                  optionLabel="billTypeName" 
                                  class="w-100" 
                                  placeholder="{{('pqrs.detail-request-column-bill' | translate) || ' '}}"
                                  (onChange)="changeBillType(data)"
                                  formControlName="billTypeId">
                                </p-dropdown>                 
                              </div>
                              
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table-finotex>
                  </div>
                </div>      
              </form>
            </div>

          </div>
        </ng-template>
    </p-accordionTab>
</p-accordion>

<!-- add article -->  
<p-dialog 
  header="{{ 'pqrs.detail-request-add-article-title' | translate }}" 
  [(visible)]="showAddArticle"
  [modal]="true" 
  [baseZIndex]="10000"  
  [draggable]="false" 
  [resizable]="false" 
  (onHide)="onCloseDialog(check,search)"
  [style]="{ width: '80vw' }">


  <div class="row m-3">
      <div class="w-100 col-6">
        <app-search-selector-principal 
          #search
          placeholder="pqrs.detail-request-add-search-article" 
          icon="pi pi-search"           
          inputId="searchRequest"
          (clickEvent)="onSubmitFilterSearch($event)">
        </app-search-selector-principal>
      </div>

      
      <p-table                                    
          class="w-100 mt-3"
          [data]="allArticleOrder"          
          [columnsSeparate]="false"          
          sortable-table 
          (sorted)="onSortedAllArticle($event)">                                    

        <tr theaderRecords>                                      
            <th>
              <input
                #check                
                type="checkbox"
                (change)="changeCheck($event)"/>              
            </th>
            <th sortable-column="productId" scope="col">{{ 'pqrs.detail-request-column-code-article' | translate }}</th>
            <th sortable-column="description" scope="col">{{ 'pqrs.detail-request-column-description' | translate }}</th>
            <th sortable-column="lastInvoice" scope="col">{{ 'pqrs.detail-request-add-previous-request' | translate }}</th>
        </tr>
            
        <div tbodyRecords *ngFor="let allArticleOrder of allArticleOrderFormCall.controls;let i = index" class="rowtable">
            <tr [formGroup]="allArticleOrder" [ngClass]="getRowPar(allArticleOrder.controls.id.value)">  
              <td>
                <input 
                  class="pi p-checkbox"
                  type="checkbox"
                  formControlName="check"/>                
              </td> 
              <td>{{ allArticleOrder.controls.productId.value }}</td> 
              <td>{{ allArticleOrder.controls.productName.value }}</td>
              <td>{{ allArticleOrder.controls.lastInvoice.value == true ? ('pqrs.detail-request-article-yes' | translate ) : ('pqrs.detail-request-article-no'  | translate) }}</td>  
            </tr>     
        </div>
      </p-table>
      
  </div>

  <ng-template pTemplate="footer">
      <div class="col-md-12 text-right">
        <p-button 
          (click)="cancelAddArticle()" 
          label="{{ 'pqrs.detail-request-btn-cancel' | translate }}"
          styleClass="button button-secundary text-center ml-1 mr-1">
        </p-button>
        
        <p-button 
          (click)="addArticle()" 
          label="{{ 'pqrs.detail-request-btn-add' | translate }}"
          styleClass="button button-primary text-center ml-1 mr-1">
        </p-button>        
      </div>
  </ng-template>
</p-dialog>

<!-- article repeated -->
<p-dialog 
   [(visible)]="showAddArticleFail" 
   [contentStyleClass]="'border-top'" 
   [modal]="true" 
   [baseZIndex]="10000"
   [draggable]="false" 
   [showHeader]="false" 
   [resizable]="false" 
   [style]="{ width: '500px' }">
    <div class="row">
        <div class="col-md-12 text-center font50">
            <img _ngcontent-amv-c221="" width="60px" height="60px" src="../../../assets/images/Alert.svg"
              alt="shopping cart" class="simple-img" appImage />
        </div>
      
        <div class="col-md-12 text-center mt-24">
            <p class="font-weight-bold title-repeat-article">{{ "pqrs.detail-request-article-repeated-title" | translate }}</p>
        </div>
    
        <div class="col-md-12 text-center mt-24 f-14">      
            <span class="description-repeat-article">{{ "pqrs.detail-request-article-repeated-description-1" | translate }}</span>
            <span class="article-repeat" *ngFor="let article of articleRepeat;let i = index"> {{article}} </span>
            <span class="description-repeat-article">{{ "pqrs.detail-request-article-repeated-description-2" | translate }}</span>
        </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="col-md-12 text-center">
          <p-button 
              (click)="showAddArticleFail = false" 
              label="{{ 'artWork.lblOk' | translate }}"
              styleClass="button button-primary text-center"></p-button>
      </div>
    </ng-template>
</p-dialog>    

<!-- quantity higher  -->
<p-dialog 
[(visible)]="showQuantityHigher" 
[contentStyleClass]="'border-top'" 
[modal]="true" 
[baseZIndex]="10000"
[draggable]="false" 
[showHeader]="false" 
[resizable]="false" 
[style]="{ width: '500px' }">
 <div class="row">
     <div class="col-md-12 text-center font50">
         <img _ngcontent-amv-c221="" width="60px" height="60px" src="../../../assets/images/Alert.svg"
           alt="shopping cart" class="simple-img" appImage />
     </div>        
 
     <div class="col-md-12 text-center mt-24 f-14">      
         <span class="description-repeat-article">{{ "pqrs.detail-request-article-quiantity-higher" | translate }}</span>                  
     </div>
 </div>

 <ng-template pTemplate="footer">
   <div class="col-md-12 text-center">
       <p-button 
           (click)="showQuantityHigher = false" 
           label="{{ 'artWork.lblOk' | translate }}"
           styleClass="button button-primary text-center"></p-button>
   </div>
 </ng-template>
</p-dialog>   

<!-- sales price higher  -->
<p-dialog 
[(visible)]="showSalesPriceHigher" 
[contentStyleClass]="'border-top'" 
[modal]="true" 
[baseZIndex]="10000"
[draggable]="false" 
[showHeader]="false" 
[resizable]="false" 
[style]="{ width: '500px' }">
 <div class="row">
     <div class="col-md-12 text-center font50">
         <img _ngcontent-amv-c221="" width="60px" height="60px" src="../../../assets/images/Alert.svg"
           alt="shopping cart" class="simple-img" appImage />
     </div>        
 
     <div class="col-md-12 text-center mt-24 f-14">      
         <span class="description-repeat-article">{{ "pqrs.detail-request-article-sales-higher" | translate }}</span>                  
     </div>
 </div>

 <ng-template pTemplate="footer">
   <div class="col-md-12 text-center">
       <p-button 
           (click)="showSalesPriceHigher = false" 
           label="{{ 'artWork.lblOk' | translate }}"
           styleClass="button button-primary text-center"></p-button>
   </div>
 </ng-template>
</p-dialog>   

<!-- no found order  -->
<p-dialog 
[(visible)]="showOrderNotFound" 
[contentStyleClass]="'border-top'" 
[modal]="true" 
[baseZIndex]="10000"
[draggable]="false" 
[showHeader]="false" 
[resizable]="false" 
[style]="{ width: '500px' }">
 <div class="row">
     <div class="col-md-12 text-center font50">
         <img _ngcontent-amv-c221="" width="60px" height="60px" src="../../../assets/images/Alert.svg"
           alt="shopping cart" class="simple-img" appImage />
     </div>        
 
     <div class="col-md-12 text-center mt-24 f-14">      
         <span class="description-repeat-article">{{ "pqrs.detail-request-article-order-nofound" | translate }}</span>                  
     </div>
 </div>

 <ng-template pTemplate="footer">
   <div class="col-md-12 text-center">
       <p-button 
           (click)="showOrderNotFound = false" 
           label="{{ 'artWork.lblOk' | translate }}"
           styleClass="button button-primary text-center"></p-button>
   </div>
 </ng-template>
</p-dialog>   

<p-toast></p-toast>
