<nav class="navbar">
  <a href="#" class="sidebar-toggler">
    <em class="fas fa-bars"></em>
  </a>
  <div class="navbar-content">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="languageDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i
            [ngClass]="[
              isEnglish
                ? 'flag-icon flag-icon-us mt-1'
                : 'flag-icon flag-icon-es mt-1'
            ]"
            title="us"
          ></i>
          <span *ngIf="isEnglish" class="font-weight-medium ml-1 mr-1">
            {{ "general.txtLanEnglish" | translate }}
          </span>
          <span *ngIf="!isEnglish" class="font-weight-medium ml-1 mr-1">
            {{ "general.txtLanSpanish" | translate }}
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="languageDropdown">
          <a
            href="javascript:;"
            class="dropdown-item py-2"
            (click)="switchLang('en')"
          >
            <i class="flag-icon flag-icon-us" title="us" id="en"></i>
            <span class="ml-1">EN</span>
          </a>
          <a
            href="javascript:;"
            class="dropdown-item py-2"
            (click)="switchLang('es')"
          >
            <i class="flag-icon flag-icon-es" title="es" id="es"></i>
            <span class="ml-1">SP</span>
          </a>
        </div>
      </li>

      <li class="nav-item dropdown nav-notifications">
        <a class="nav-link dropdown-toggle"
          href="#"
          id="notificationDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">

          <img src="../../../../assets/images/Notificacion.svg"
            alt="profile"
            appImage/>

          <div class="indicator" [hidden]="notifications?.length <= 0">
            <div class="circle"></div>
          </div>
        </a>

        <div class="dropdown-menu notification-width" aria-labelledby="notificationDropdown">

          <div class="dropdown-header d-flex align-items-center justify-content-between">
            <p class="title-number-notification">{{ "formsGeneral.notifications" | translate }}</p>            
            <p class="title-number-notification">({{ notifications ? notifications.length : 0 }})</p>
          </div>

          <div class="dropdown-body">
            <a
              class="dropdown-item"
              (click)="viewNotification(notification)"              
              *ngFor="let notification of notifications">     

              <div class="content w-100">
                <span class="point-notifications"></span>
                <p class="title-notification">{{ notification.Tittle }}</p>
                
                <div class="row w-100">
                  <p class="col-10 description-notification mt-3">{{ notification.Message }}</p>

                  <div class="col-2 p-0 mt-3">
                    <div class="img-circle-notification">
                      <img
                        class="img-notification"                    
                        src="../../../../assets/images/Talk.svg"/>
                    </div>
                  </div>
                </div>

                <p class="sub-text text-muted time-notification mt-3">{{ notification.Time }}</p>
              </div>

            </a>
          </div>

        </div>
      </li>

      <li class="nav-item dropdown nav-notifications">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="notificationDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="../../../../assets/images/Carrito_de_compras.svg"
            alt="profile"
            appImage
          />
        </a>
        <div class="dropdown-menu" aria-labelledby="notificationDropdown">
          <div
            class="dropdown-header d-flex align-items-center justify-content-between"
          ></div>
          <div class="dropdown-body"></div>
        </div>
      </li>

      <li class="nav-item dropdown nav-profile">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="profileDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="../../../../assets/images/Log_out.svg"
            alt="profile"
            appImage
          />
        </a>
        <div class="dropdown-menu" aria-labelledby="profileDropdown">
          <div class="dropdown-header d-flex flex-column align-items-center">
            <div class="info text-center">
              <p class="name font-weight-bold mb-0">
                {{ currentUserAplication?.username }}
              </p>
              <p class="email text-muted mb-3">
                {{ currentUserAplication?.email }}
              </p>
            </div>
          </div>
          <div class="dropdown-body">
            <ul class="profile-nav p-0 pt-3">
              <li class="nav-item">
                <a href="pages/general/profile.html" class="nav-link">
                  <i data-feather="user"></i>
                  <span>{{ "menu.Profile" | translate }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:;" class="nav-link">
                  <i data-feather="edit"></i>
                  <span>{{ "menu.Edit_Profile" | translate }}</span>
                </a>
              </li>

              <li class="nav-item">
                <a href="javascript:;" (click)="logout()" class="nav-link">
                  <i data-feather="log-out"></i>
                  <span>{{ "menu.Log_Out" | translate }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown nav-notifications">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="notificationDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="../../../../assets/images/Profile.svg"
            *ngIf="showPanel"
            alt="profile"
            appImage
          />
        </a>
        <div
          class="dropdown-menu"
          aria-labelledby="notificationDropdown"
          *ngIf="showPanel"
        >
          <div class="dropdown-header-notification">
            <p>
              {{ "menu.Change_account_here" | translate }}
            </p>
          </div>
          <div class="dropdown-body-notification">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRole()">
              <div class="row">
                <div class="col-12 mt-2" *ngIf="showCountries">
                  <label for="">
                    {{ "profile.Country" | translate }}
                  </label>
                  <p-dropdown
                    [style]="{ width: '100%' }"
                    (onChange)="onChangeCountries($event.value)"
                    [options]="countries"
                    optionLabel="countryName"
                    optionValue="countryId"
                    formControlName="countries"
                    placeholder="{{
                      'formsGeneral.selSelectOpcion' | translate
                    }}"
                  ></p-dropdown>
                </div>

                <div class="col-12 mt-2" *ngIf="showBusiness">
                  <label for="">
                    {{ "profile.Business_facility" | translate }}
                  </label>
                  <p-dropdown
                    (onChange)="onChangeBusiness($event.value)"
                    [options]="business"
                    optionLabel="businessName"
                    optionValue="businessId"
                    formControlName="business_facility"
                    placeholder="{{
                      'formsGeneral.selSelectOpcion' | translate
                    }}"
                  ></p-dropdown>
                </div>

                <div class="col-12 mt-2" *ngIf="showProfile">
                  <label for="">
                    {{ "profile.Profile_role" | translate }}
                  </label>
                  <p-dropdown
                    [options]="profile"
                    optionLabel="groupName"
                    optionValue="groupId"
                    formControlName="profile_role"
                    placeholder="{{
                      'formsGeneral.selSelectOpcion' | translate
                    }}"
                  ></p-dropdown>
                </div>

                <div class="col-12 mt-4 text-right mb-4">
                  <button
                    pButton
                    type="submit"
                    iconPos="right"
                    icon="fas fa-arrow-right"
                    [disabled]="registerForm.invalid || indicatorButton"
                    class="button button-primary btn-sig"
                  >
                    {{ "profile.Continue" | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<p-dialog
  [(visible)]="display"
  [contentStyleClass]="'border-top'"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [showHeader]="false"
  [resizable]="false"
  [style]="{ width: '500px' }"
>
  <div class="row">
    <div class="col-md-12 text-center">
      <em class="far fa-check-circle font50"></em>
    </div>
    <div class="col-md-12 text-center mt-24">
      <p>
        <b>{{ notificationActive?.Tittle }}</b>
      </p>
    </div>
    <div class="col-md-12 text-center mt-16 description-page">
      <p>{{ notificationActive?.Message }}</p>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="col-md-12 text-center mt-16">
      <div class="row">
        <div class="col-6">
          <app-button-finotex
            label="general.btnCancel"
            type="button"
            typeButton="secondary"
            [typeSize]="true"
            (click)="display = false"
          ></app-button-finotex>

        </div>
        <div class="col-6">
          <app-button-finotex
            label="general.btnGo"
            type="button"
            typeButton="primary"
            [typeSize]="true"
            (click)="openNotification()"
          ></app-button-finotex>
          
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
