.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  border-radius: 25px 25px 25px 25px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  right: 6em;
  text-align: left;
}

.dropdown-content a {
  color: black;
  background-color: #f1f1f1;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
}


.dropdown-content ul li {
  padding: 16px;
  list-style-type: none;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
}

.dropdown-content a:last-child {
  border-radius: 0px 0px 25px 25px;
  background-color: white;
}

.dropdown-content a:first-child {
  border-radius: 25px 25px 0px 0px;
  background-color: white;
}

.show {
  display: block;
}

@media (max-width: 575.98px) {
  .show {
    display: block;
    position: initial;
    margin-top: 1em;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .show {
    display: block;
    position: initial;
    margin-top: 1em;
  }
}

.lblActionSelect::before {
  font-family: "Font Awesome 5 Free";
  content: " "url("../../../../assets/images/Eye.svg");
  font-weight: 400;
  padding: 0 5px 0 0;
  font-size:15px;
}

.lblActionEdit::before {
  font-family: "Font Awesome 5 Free";
  content: " "url("../../../../assets/images/Editar.svg");
  padding: 0 5px 0 0;
  font-size:15px;
}

.lblActionPdf::before {
  font-family: "Font Awesome\ 5 Free";
  content: " "url("../../../../assets/images/PDF.svg");
  padding: 0 5px 0 0;
  font-weight: 400;
  font-size:15px;
}

.lblActionAvanzar::before {
  font-family: "Font Awesome 5 Free";
  content: " "url("../../../../assets/images/Arrow.svg");
  padding: 0 5px 0 0;
  font-size:15px;
}

.lblActionComment::before {
  font-family: "Font Awesome 5 Free";
  content: " "url("../../../../assets/images/Comentario.svg");
  padding: 0 5px 0 0;
  font-size:15px;
}
