.lblBlock {
  display: block;
}

.lblWithBreak {
  white-space: initial;
  word-break: break;
}

.thead-width {
  width: 100%;
}

input[type='checkbox']:checked:after {
  content: '\e909';
  padding-left: 5px;
}

input.pi.p-checkbox {
  font-size: 14px;
}
