.p-inputswitch {
  position: relative;
  /*display: inline-block;*/
  user-select: none;
}

.p-inputswitch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-inputswitch-slider:before {
  position: absolute;
  content: '';
  top: 50%;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #d6001c;
  border-radius: 30px;
  border: 1px solid #d6001c !important;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover
  .p-inputswitch-slider {
  background: #d6001c 0% 0% no-repeat padding-box;
  border-radius: 30px;
  border: 1px solid #d6001c !important;
  opacity: 1;
}
